.form-container12 {
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Espaciado interior del formulario */
    border: 1px solid #ccc; /* Borde del formulario */
    border-radius: 8px; /* Borde redondeado */
  }

  h2 {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espaciado inferior */
    color: #f4978e; /* Color del texto */
  }
  
  .form-container12 label {
    display: block; /* Hace que cada etiqueta ocupe una línea */
    margin-bottom: 10px; /* Espaciado inferior entre etiquetas */
  }
  
  .form-container12 input[type="text"],
  .form-container12 select {
    width: 100%; /* Ancho completo para los campos de texto */
    margin-bottom: 15px; /* Espaciado inferior entre campos */
    border: 1px solid #ccc; /* Borde del campo */
    border-radius: 4px; /* Borde redondeado */
  }
  
  .form-container12 button[type="submit"] {
    width: 100%; /* Ancho completo para el botón */
    padding: 10px; /* Espaciado interior del botón */
    background-color: #00afb9; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave */
  }
  
  .form-container12 button[type="submit"]:hover {
    background-color: #7de2d1; /* Cambia el color de fondo al pasar el mouse */
  }
  