.form-container13 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-container13 label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container13 input[type="text"],
  .form-container13 input[type="number"],
  .form-container13 textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-container13 input[type="date"] {
    width: calc(100% - 2px); /* Fix for date input width */
  }
  
  .form-container13 button {
    background-color: #00afb9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-container13 button:hover {
    background-color: #007d87;
  }
  
  .form-container13 textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el título */
  h1 span {
    font-weight: bold;
  }
  
  h1 span:first-of-type {
    color: #f4978e;
  }
  
  h1 span:last-of-type {
    color: #00afb9;
  }
  
  .centered-h2 {
    text-align: center;
  }