.container {
  display: flex;
}

.left-panel {
  flex: 1;
  padding: 20px;
  text-align: center; /* Centrar el contenido */
}

.right-panel {
  flex: 1;
  padding: 20px;
  text-align: center; /* Centrar el contenido */
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-form input,
.user-form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-form button {
  background-color: #00afb9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #007d87;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list-item {
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.user-list-item:hover {
  background-color: #e0e0e0;
}

.user-list-item p {
  margin: 0;
}

.user-list-item p:first-of-type {
  font-weight: bold;
  color: #333;
}

.user-list-item p:last-of-type {
  color: #666;
}

.user-details {
  background-color: #f4f9e9; /* Color de fondo para el detalle del usuario */
  padding: 20px; /* Espaciado interno */
  flex: 1;
}

.user-details-title {
  font-size: 24px; /* Tamaño del título */
  font-weight: bold; /* Peso de la fuente */
  margin-bottom: 10px; /* Espaciado inferior */
  color: #f4978e; /* Color del texto */
  text-align: center; /* Centrar el contenido */
}

.user-details button {
  background-color: #c82333; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Quita el borde del botón */
  padding: 8px 16px; /* Espaciado interior del botón */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave */
}

.user-details button:hover {
  background-color: #971b23; /* Cambia el color de fondo al pasar el mouse */
}

.left-panel {
  flex: 1;
  padding: 20px;
  background-color: #f4f9e9; /* Color de fondo del panel izquierdo */
}

.right-panel {
  flex: 1;
  padding: 20px;
  background-color: #e7e6f7; /* Color de fondo del panel derecho */
}
